@tailwind utilities;

:root {
    --color-background: #FAFAFA;
    --color-text: #333333;
}

html {
    scroll-behavior: smooth;
    background-color: var(--color-background);
}

* {
    font-family: 'Poppins', sans-serif;
}

h1, h2, h3 {
    color: var(--color-text);
}
